{% load otree %}
{% load staticfiles %}

{% block styles %}

    <style>

    .cover {
        width: 350px;
        object-fit: cover;
        margin-bottom: -7px;
        }

    </style>

{% endblock %}

{% block title %}
    Round #{{ subsession.round_number }}
{% endblock %}

{% block content %}
 <table align="center" style="width: auto; margin: auto">
     <tr><td><div class="frame-vid"><video class="cover" src="/static/{{ image_path }}" autoplay muted>
    </video></div></td></tr>
</table>
<br>
<div align="center" style="width: 90%; text-align: left;  margin: 10px 0px 0px 55px; padding: 0px 0px 0px 0px;">
    <center><button type="submit" class="btn btn-primary btn-large"><strong>Proceed to report</strong></button></center>
    </div>

{% endblock %}