{% load otree %}


{% block title %}
{% endblock %}

{% block content %}
<center>
<div class="frame" style="width: 70%">
    <p style="text-align: center; font-weight: normal; margin-left: 50px; margin-right: 0px; font-size: 32px">
        Now we will start with the practice questions.
    </p>
</div>
    </center>
<div style="padding: 20px 0px 0px 0px">
    <center><button type="submit" class="btn btn-primary btn-large"><strong>Confirm and proceed.</strong></button></center>
</div>

{% endblock %}
