{{ block title }}{{ endblock }}
{{ block content }}

<center>
<p style="text-align: center; font-weight: normal; margin-top: 50px; margin-bottom: 25px; font-size: 32px">
    You will now start allocating the balls between the two buckets. But, the rule is:</p>
    <p style="text-align: center; font-style: bold; margin-top: 50px; margin-bottom: 25px; font-size: 32px">
        The rule is to put the balls in bucket A.
    </p>
</center>
<div>
    <center><button type="submit" class="btn btn-primary btn-large"><strong>Start Part II</strong></button></center>
</div>

{{ endblock }}
